@import '@economist/component-silver-xaxis';
@import '@economist/component-silver-yaxis';
@import '@economist/component-silver-series-bar';
@import '@economist/component-silver-chartmargins';

/*  If this is all this does, couldn't it usefully move up the tree,
    so that it doesn't have to be duplicated across all style components...?
*/
.chart-main-group {
   -webkit-transition: all 5000 ease-in-out;
    -moz-transition: all 5000 ease-in-out;
    -o-transition: all 5000 ease-in-out;
    transition: all 5000 ease-in-out;
}

/* I CAN'T REMEMBER WHAT THIS WAS FOR...
    Fill will probably override, in context component
.chart-d3-backbox-main {
  fill: #D5E4EA;
  stroke-width: 0;
}

.chart-d3-backbox-sub {
  fill: #D5E4EA;
}
*/

/* I need this here for width calculations... */
.d3-xaxis-check {
  font-family: "OfficinaSanITC-Book";
  font-size: 7px;
  fill: white;
}
.d3-yaxis-check {
  font-family: "OfficinaSanITC-Book";
  font-size: 7px;
  fill: white;
}

/* Marginal strings */
/*.silver-d3-title-check,
.silver-d3-subtitle-check,
.silver-d3-source-check,
.silver-d3-footnote-check {
  fill: white;
  strokewidth: 0;
  font-family: "OfficinaSanITC-Book";
  font-size: 9px;
}
.silver-d3-title-check {
  font-family: "OfficinaSanITC-Bold";
}
.silver-d3-subtitle-check {
  font-size: 7px;
}
.silver-d3-source-check {
  font-size: 6px;
}
.silver-d3-footnote-check {
  font-size: 6px;
}*/
